<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ chat.name }}</h1>
    <div id="messages">
        {% for message in chat.messages.all %}
        <p><strong>{{ message.sender.username }}:</strong> {{ message.content }}</p>
        {% endfor %}
    </div>
    <form id="message-form" method="post" action="{% url 'send_message' chat.id %}">
        {% csrf_token %}
        <input type="text" name="content" id="message-input" placeholder="Введите сообщение">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>